html
  head
    title= "Display"
    style.
        #map {height: 500px; width: 100%;}
  body
    h1= "TwittMap"
    div(id="map")
      script.
        function initMap() {
            var i;
            var lat = JSON.parse("!{lats}");
            var long = JSON.parse("!{longs}");
            //var loc = locs;
            //var uluru = {lat: #{num1}, lng: #{num2}};
            //var uluru = {lat: 37, lng: -95};
            var map = new google.maps.Map(document.getElementById('map'), {zoom: 5, center: {lat: 37, lng: -95}});
            for (i = 0; i < lat.length; i++) {
                var marker = new google.maps.Marker({position: {lat: parseFloat(lat[i]), lng:parseFloat(long[i])}, map: map});
            }
        }
      script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYAXFUzdidNb5J_EnXz9Pa6Jbsedt6FdM&callback=initMap")

